# Google Sheets API Configuration
# https://console.cloud.google.com/apis/credentials

# ID da planilha (encontrado na URL: .../d/{SPREADSHEET_ID}/...)
# id padrao extraio da url de compartilhamento para todos com link: 1gaWowVmSQ1gdxWOzREyhX23HUz055PdJiLP1RKj7zZ8
VITE_GOOGLE_SHEETS_ID=1gaWowVmSQ1gdxWOzREyhX23HUz055PdJiLP1RKj7zZ8

# API Key (para acesso público de leitura)
VITE_GOOGLE_API_KEY=your_api_key_here

# Opcional: Access Token (para escrita, obtido via OAuth2)
# VITE_GOOGLE_ACCESS_TOKEN=your_access_token_here
